[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow = "*"
pendulum = "*"
yfinance = "*"
pandas = "*"
confluent-kafka = "*"
requests = "*"
apache-airflow-providers-apache-kafka = "*"

[dev-packages]

[requires]
python_version = "3.12"
